<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <title>Inicio</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="banner_Cad">
            <article class="banner_Img">
                <p><img src="/img/pokeball.gif"/></p>
            </article>

            <article class="banner_Cadform">
                <%- include('./partials/cadastroPartial.ejs')%> 
            </article>
        </section>
        
        <section id="card_poke">
            <% infoPokemons.forEach(element=> { %>
            <a href="/detalhes/<%=element.id%>">
                <article id="card">
                    <div id="card_title">
                        <div class="card_title">
                            <h2><%=element.name%></h2>
                                <p><i class="bi bi-brightness-high"></i><%=element.category%></p>
                        </div>
                        <img src="/img/<%=element.image%>"/>
                    </div>
                </article>
            </a>
            <% }) %>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>